html {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    background-color: whitesmoke;
    height:100vh;
    overflow: hidden;
}

body {
    height:100vh;
}

footer {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color:black;
    height:30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:95vh;
    text-align: center;
}