html {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    background-color: whitesmoke;
    height:100vh;
    overflow: hidden;
}

body {
    height:100vh;
}

footer {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color:black;
    height:30px;
}

.container {
    height:95vh;
    text-align: center;
    position: relative;
}

.textbox {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.output {
    text-align: center;
    position: absolute;
    top: 50%;
}

.q0 {
    font-size: 10vh;
}

#q1 {

}

#q2 {

}

#q3 {

}

#q4 {

}