html {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    background-color: whitesmoke;
    height:100vh;
    width:100%;
    overflow: hidden;
}

body {
    height:100vh;
    width:100%;
}

.foot {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color:black;
    height:30px;

    position: absolute;
    width:200px;
    margin-left:-100px;
    left:50%;
    bottom:10px;
}

.container {
    height:100%;
    text-align: center;
    position: relative;
}

.textbox {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width:100%;
}

.page-button {
    border-width: 3px;
    border-color: #7F7FD5;
    border-radius: 4px;
    background-color: #7F7FD5;
    color:white;
    width:15%;
    height:50px;
    font-size: 100%;
    font-family: inherit;
    font-weight: 700;
}

.page-button:hover {
    background-color: white;
    color:#7F7FD5;
}

input[type=text] {
    border-radius: 10px;
    border-color:#7F7FD5;;
    box-shadow: none;
    border-style: solid;
    width:50%;
    height:20vh;
}

#stats {
    display: none;
}

#ty {
    display: none;
}

#output {
    text-align: center;
}

#q0 {
    font-size: 2vw;
}

#q1 {
    font-size: 4vw;
}

#q2 {
    font-size: 2vw;
}

#q3 {
    font-size: 2vw;
}

#q4 {
    font-size: 2vw;
}