html {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    background-color: whitesmoke;
    height:100%;
    overflow: hidden;
}

body {
    height:100%;
}

footer {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-align: center;
}

